## Reading and cleaning the data

In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [2]:
dataset = pd.read_csv("data/Tweets.csv", sep=",")
dataset.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [3]:
dataset = dataset[['airline_sentiment','text']]
dataset.head()

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...

In [5]:
import re
import string

# Stopwords in English language
stopword = nltk.corpus.stopwords.words('english')

# Lemmatizer
wn = nltk.WordNetLemmatizer()

# Function to clean and tokenize the data
def clean_tokenize_text(text):
    # Remove mentions starting with @
    text = re.sub('@\w+\s', '', text)
    
    # Remove punctuation
    text = ''.join([char for char in text if char not in string.punctuation])
    
    # Tokenize the text
    tokens = re.split('\W+', text)
    
    # Remove stopwords
    text = [word for word in tokens if word not in stopword]
    
    # Lemmatize the words
    text = [wn.lemmatize(word) for word in text]
    
    # Return text
    return text


# Apply the function to text column
dataset['text'] = dataset['text'].apply(lambda x: clean_tokenize_text(x.lower()))

# Rename the columns
dataset.columns=['label','text']

# Display first five rows
dataset.head()

      label                                               text
0   neutral                                             [said]
1  positive  [plus, youve, added, commercial, experience, t...
2   neutral  [didnt, today, must, mean, need, take, another...
3  negative  [really, aggressive, blast, obnoxious, enterta...
4  negative                          [really, big, bad, thing]


## Vectorizing data